.hero {

    position: relative;

    &__content {
        &__social {
            width: 60%;

            &>a+a {
                margin-left: .5rem;
            }
        }
    }

    &__image {

        right: -1.25rem;
        top: -1.75rem;

        & img {
            
        }
    } 
    
    & .highlight {
        color: $clr-secondary;
    }

}
