.hero {

    position: relative;

    &__content {
        
        &__title {

            @include sm {
                font-size: 2.5rem !important;
                line-height: .9;
            }

            @include md {
                font-size: 3rem;
                line-height: .9;
            }
        }

        &__text {

            @include md {
                font-size: 1.2rem;
                line-height: 1.1;
            }
        }

        &__social {
            width: 60%;

            &>a+a {
                margin-left: .5rem;
            }
        }
    }

    &__image {

        right: -1.25rem;
        top: -1.75rem;

        & img {
            
        }
    } 

    
    &__scroll {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: jump 2s infinite;
    }
    
    & .highlight {
        color: $clr-secondary;
    }


}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: translateY(0);
    }
}
