.skills {

    position: relative;

    margin-left: -1.25rem;
    margin-right: -1.25rem;

    &__background {
        position: absolute;

        top: 0;
        z-index: -1;
    }

    &__content {
        &__header {
            color: $ff-primary;
            font-size: 2rem;
        }

        &__skill {
            &__name {

            }

            &__progressbar {
                background: white;
                border-radius: 40vw;

                & .progress {
                    border-radius: 40vw;
                    background-color: $clr-secondary;
                }
            }
        }
    }

    // background-image: url("../../assets/files/angle_background_mobile.png");
    // background-repeat: no-repeat;

    // height: 100vh;
    // margin: -1.25rem;
}