*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #EAEFF2 0%, #FFFFFF 29.69%);
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: #05445E;
}

.hero {
  position: relative;
}
@media (min-width: 640px) {
  .hero__content__title {
    font-size: 2.5rem !important;
    line-height: 0.9;
  }
}
@media (min-width: 768px) {
  .hero__content__title {
    font-size: 3rem;
    line-height: 0.9;
  }
}
@media (min-width: 768px) {
  .hero__content__text {
    font-size: 1.2rem;
    line-height: 1.1;
  }
}
.hero__content__social {
  width: 60%;
}
.hero__content__social > a + a {
  margin-left: 0.5rem;
}
.hero__image {
  right: -1.25rem;
  top: -1.75rem;
}
.hero__scroll {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: jump 2s infinite;
}
.hero .highlight {
  color: #FF4500;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.about__header .rect {
  margin-left: -1.25rem;
}
.about__header__content {
  font-size: 2rem;
}

.skills {
  position: relative;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.skills__background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.skills__background img {
  width: 100vw;
}
@media (min-width: 768px) {
  .skills__background img {
    height: 35rem;
  }
}
.skills__content__header {
  color: #05445E;
  font-size: 2rem;
}
.skills__content__skill {
  margin: 1rem 0;
}
.skills__content__skill__progressbar {
  background: white;
  border-radius: 40vw;
}
.skills__content__skill__progressbar .progress {
  border-radius: 40vw;
  background-color: #FF4500;
}
@media (min-width: 768px) {
  .skills {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.portfolio__header {
  font-size: 2rem;
  color: #05445E;
}
.portfolio__carousel__item__image img {
  border-radius: 1rem;
  border: 0.5rem solid #FF4500;
}
.portfolio__carousel__item__actions__stars img {
  width: 2rem;
  height: 2rem;
}
.portfolio__carousel__item__actions__button button {
  background-color: #05445E;
  color: white;
}

.slick-next:before, .slick-prev:before, .slick-dots li.slick-active button:before {
  color: #FF4500;
}

.slick-dots button:before {
  margin-top: 1rem;
  font-size: 10px !important;
}

.slick-next, .slick-prev {
  display: none !important;
}
@media (min-width: 640px) {
  .slick-next, .slick-prev {
    display: inline-block !important;
  }
}

.experience {
  position: relative;
}
.experience__header {
  font-size: 2rem;
  color: #05445E;
}
.experience__background-mobile {
  position: absolute;
  right: -1.25rem;
  top: -2rem;
}
.experience__background-left {
  position: absolute;
  left: -3rem;
  top: -2rem;
}
@media (min-width: 768px) {
  .experience__background-left {
    width: 10rem;
  }
}
@media (min-width: 1024px) {
  .experience__background-left {
    width: max-content;
  }
}
.experience__background-right {
  position: absolute;
  right: -3rem;
  bottom: 2rem;
}
@media (min-width: 768px) {
  .experience__background-right {
    width: 10rem;
  }
}
@media (min-width: 1024px) {
  .experience__background-right {
    width: max-content;
  }
}
.experience__container {
  position: relative;
}
.experience__container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #05445E;
}
@media (min-width: 768px) {
  .experience__container::before {
    left: calc(50% - 1px);
  }
}
.experience__container__item {
  position: relative;
}
.experience__container__item__name span {
  font-weight: 600;
}
.experience__container__item__date {
  color: #FF4500;
}
.experience__container__item::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #05445E;
  background-color: white;
  position: absolute;
  left: calc(-.5rem + 1px);
  top: calc(50% - .5rem);
}
@media (min-width: 768px) {
  .experience__container__item::before {
    left: calc(50% - .5rem);
  }
}
@media (min-width: 768px) {
  .experience__container__item:nth-child(even) {
    padding-left: calc(50% + 1rem);
    text-align: left;
  }
}
@media (min-width: 768px) {
  .experience__container__item:nth-child(odd) {
    padding-right: calc(50% + 1rem);
    text-align: right;
  }
}

/*# sourceMappingURL=index.css.map */
